@charset "utf-8";
h1 {
  font-size: 60px;
  padding-left: 16px;
  border-left: 8px solid teal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
  color: tomato;
}
img{
  width: 100px;
  height:100px;
}

ul{
  color: green;
  font-weight: bold;
text-decoration: underline;
}

p{
  font-size: 16px;
  line-height: 48px;

}